$--color-primary: #002FA7;
$el-menu-border-color: #f5f5f5;
$--el-input-hover-border: #c0c4cc;

// .el-button--primary:hover,
// .el-button--primary:focus {
//   background: #66b1ff;
//   border-color: #66b1ff;
//   color: #ffffff;
// }

.el-date-editor .el-range-separator {
  padding: 0;
}
